<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="emartech_attribute_create" xsi:type="object">Emartech\Attributes\Console\AttributeCreate</item>
                <item name="emartech_attribute_remove" xsi:type="object">Emartech\Attributes\Console\AttributeRemove</item>
                <item name="emartech_customer_attribute_set" xsi:type="object">Emartech\Attributes\Console\CustomerAttributeSet</item>
                <item name="emartech_test_store_create" xsi:type="object">Emartech\Attributes\Console\StoreCreate</item>
                <item name="emartech_test_set_price_scope" xsi:type="object">Emartech\Attributes\Console\PriceScopeChange</item>
            </argument>
        </arguments>
    </type>
</config>